*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #F5F5F5;
}

header {
    background-color: #fff;
    padding: 24px 64px;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

main {
    display: flex;
    gap: 30px;
    margin-top: 24px;
    margin-bottom: 80px;
    padding: 0 32px;
}

div.sidebar {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

div.add-project {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 8px 16px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 4px;
}

div.main-display {
    width: 600px;
}

div.add-task {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 8px 16px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 4px;
}

hr {
    margin: 16px 0 16px 0;
    height: 2px;
    background-color: #000;
    border: none;
}